# Ignore the ./secret folder and its contents
/infrastructure/.secret/
/.venv/
/src/output/
/src/dataset/tweet_sentiment_clean.csv
/src/model.pkl
/infrastructure/minio/.env
/infrastructure/minio/.mc_env
/infrastructure/mlflow/.env
/src/__pycache__/
/model_version
/bentoml/
# Arbitrage app
arbitrage/**/__pycache__/
arbitrage/**/*.pyc
arbitrage/**/.pytest_cache/
arbitrage/backend/.env
__pycache__/
*.pyc
.pytest_cache/
