# Ignore the ./secret folder and its contents
/infrastructure/.secret/
/.venv/
/src/output/
/src/dataset/tweet_sentiment_clean.csv
/src/model.pkl
/infrastructure/minio/.env
/infrastructure/minio/.mc_env
/infrastructure/mlflow/.env
/src/__pycache__/
/model_version
/bentoml/