# Ignore the ./secret folder and its contents
/secret/
/.venv/
/src/output/
/dataset/tweet_sentiment_clean.csv
/src/model.pkl
/minio/.env
/minio/.mc_env
/mlflow/.env
/src/__pycache__/
/model_version
/bentoml/